iframe {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0 0 1%;
  display: flex;
}

.tagexitbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

a {
  margin: 0.8%;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1em;
  }
  iframe {
    height: 300px;
  }
}
