<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']" (click)="reload()">
    <div class="d-inline-flex">
      <i class="material-icons">local_dining</i>
      <h5> Roadtofinland</h5>
    </div>
  </a>
</nav>
<router-outlet></router-outlet>
<footer class="py-4 bg-light text-black-50">
  <div class="container text-center">
    <small>Corentin Le Berre - 2020 - <a href="https://www.linkedin.com/in/corentin-le-berre-553a92139/">My LinkedIn - </a> <a href="https://gitlab.com/coleb/roadtofinland">This project on GitLab</a></small>
  </div>
</footer>
